@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body, h1, h2, h3, h4, p, a {
  font-family: 'Roboto Slab', sans-serif;
  color: #ffffff;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

img {width: 100%;}

select {
  width: 50%;
  height: 35px;
  font-size: 1.2em;
  margin: auto;
  font-family: 'Roboto Slab';
}

.container {
  width: 80%;
  margin: auto;
}

.content {
  background-color: #6ca8db;
  padding: 5%;
  clear: both;
}

.navigation-container {
    width: 90%;
    margin: auto;
}

nav {
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.left-float {
  float: left;
}

.right-float {
  float: right;
}

nav ul li {
  display: inline-block;
  padding: 1em 0;
}

nav ul li a {
    text-transform: uppercase;
}

nav ul li:hover {
    opacity: .8;
}

nav ul li.home-link {
  width: 250px;
  padding: 0;
}

h1.site-logo a{
  padding: 0;
}

.site-logo img {
  width: 100%;
}

.utility-link {
    margin-top: 30px;
    margin-left: 10px;
}

.btn {
  background: #8ac440;
  padding: 1em 2em;
}

.btn:hover {
  opacity: .8;
}

.profile-link a {
  text-indent: 0;
  background: #6ca8db url(images/profileIcon.png) no-repeat center;
  background-size: cover;
  padding: 1em 0;
  color: transparent;
}

.question-container {
  padding: 0.5em 2em;
  border-radius: 5px;
  margin-bottom: 5px;
}

.question-container {
  display: none;
}

.question-container:first-of-type {
  display: block;
}

.active-question  {
  display: block;
}

.answer-list {
  list-style: none;
}

.img-container {
    float: left;
    margin-right: 2em;
    margin-bottom: 2em;
    width: 50%;
}

.answer-button {
  clear: both;
}

.answer-list li {
  margin-bottom: .5em;
}

.answer-option a::before {
  content: "";
  border: 2px solid #000000;
  border-radius: 100%;
  background-color: #ffffff;
  margin-right: .5em;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-bottom: -6px;
}

.answer-option:hover a::before{
  background-color: #eee;
}

.clicked a::before,
.clicked:hover a::before{
  background-color: #000000;
}

.answer-submit {
    margin-top: 30px;
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
  }

.correct {
  background-color: #51A351;
}

.incorrect {
  background-color: #BD362F;
}

.answer-option:active::before {
  background-color: green;
}

input.typeFilter {
    font-weight: 300;
    padding: 11px;
    font-size: 18px;
    width: 500px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    border: solid 1px lightgray;
    display: block;
}

input.typeFilter:focus{
  background-color: #fcfcfc;
  outline: none;
}

@media screen and (max-width:700px) {
  h1.site-logo {
      margin-top: 1.5em;
  }
  nav ul li.home-link {
    width: 135px;
  }
  .questions-link {
    text-indent: -999px;
    background: #8ac440 url(images/questionIcon.png) no-repeat center;
    background-size: 35%;
    padding: 1em 2em;
    width: 0;
  }

  .question-container {padding: .5em 0;}

  .img-container {
      float: none;
      margin-right: 0;
      margin-bottom: 0;
      width: 100%;
  }

}

@media screen and (max-width:350px) {
  .utility-link {margin-left: 0;}
}
