@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body, h1, h2, h3, h4, p {
  font-family: 'Nunito Sans', sans-serif;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: #409bff;
    cursor: pointer;
}

.container {
  width: 960px;
  margin: auto;
}

nav {
    padding: 1em;
    border-radius: 5px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    padding: 1em 2em;
}

nav ul li a:hover {
    border-bottom: #409bff  solid 3px;
    background-color: #e4e4e4;
}


h1.site-logo a {
    text-transform: lowercase;
    padding: .4em 1em .55em;
}

.question-container {
  background: #e4e4e4;
  padding: 0.5em 2em;
  border-radius: 5px;
  margin-bottom: 5px;
}

.answer-list {
  list-style: none;
}

.answer-list li {
  margin-bottom: .5em;
}

.answer-option::before {
  content: "";
  border: 2px solid #000000;
  border-radius: 100%;
  background-color: #ffffff;
  margin-right: .5em;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-bottom: -6px;
}

.answer-option:hover::before{
  background-color: #eee;
}

.clicked::before,
.clicked:hover::before{
  background-color: #000000;
}

.answer-submit {
  color: #000000;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #afa;
  padding: 2px 8px;
  margin-top: 30px;
}

.correct {
  background-color: #51A351;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.incorrect {
  background-color: #BD362F;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.answer-option:active::before {
  background-color: green;
}

input.typeFilter {
    font-weight: 300;
    padding: 11px;
    font-size: 18px;
    width: 500px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    border: solid 1px lightgray;
    display: block;
}

input.typeFilter:focus{
  background-color: #fcfcfc;
  outline: none;
}
