@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body, h1, h2, h3, h4, p {
  font-family: 'Nunito Sans', sans-serif;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: #409bff;
    cursor: pointer;
}

.container {
  width: 960px;
  margin: auto;
}

nav {
    padding: 1em;
    border-radius: 5px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    padding: 1em 2em;
}

nav ul li a:hover {
    border-bottom: #409bff  solid 3px;
    background-color: #e4e4e4;
}


h1.site-logo a {
    text-transform: lowercase;
    padding: .4em 1em .55em;
}

.question-container {
  background: #e4e4e4;
  padding: 1em;
  border-radius: 5px;
}

.correct {
  background-color: #51A351;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.incorrect {
  background-color: #BD362F;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.answer-option {
  border: 2px solid #000000;
  border-radius: 100%;
  background-color: #ffffff;
  padding: 2px 8px;
}

a.answer-option:hover{
  background-color: #eee;
}

.clicked{
  background-color: #f00;
}

.answer-submit {
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #afa;
  padding: 2px 8px;
  margin-top: 30px;
}

}

.answer-option:active {
  background-color: green;
}
