<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<div class="navigation-container">
<nav>
  <ul>
    <div class="left-float">
      <li class="home-link">
        <h1 class="site-logo">
          {{#link-to 'profile'}}
          <img src="assets/images/logo.png" />
          {{/link-to}}
        </h1>
      </li>
    </div>
    <div class="right-float">
      <li class="questions-link utility-link">
        {{#link-to 'questions'}}
          Do Questions
        {{/link-to}}
      </li>
      <li class="profile-link utility-link">
        {{#link-to 'profile'}}
          Profile
        {{/link-to}}
      </li>
    </div>
  </ul>
</nav>
</div>

<div class="container content">

{{outlet}}


</div>
