{{outlet}}

<div>
  <h2>Questions</h2>
  <div class="question-container">
    {{#each model as |singlePost|}}
      {{singlePost.content}}
    {{/each}}

<!--    {{#each model as |questionItem|}}
      {{question-list question=questionItem}}
    {{/each}}
  -->
  </div>
</div>
