{{outlet}}

<div>
  <h2>Questions</h2>

{{#list-filter
   filter=(action 'filterByType')
   as |questions|}}

    {{#each questions as |questionItem|}}
      <div class="question-container">
        {{question-list question=questionItem options=questionItem.options setActive='setActive' hasImage=questionItem.image_url}}
      </div>
    {{/each}}
{{/list-filter}}

</div>
