{{outlet}}

<div>
  <h2>Questions</h2>
  {{#list-filter
   filter=(action 'filterByType')
   as |questions|}}
  <ul class="question-container">
    {{#each model as |questionItem|}}
      <li>{{question-list question=questionItem}}</li>
    {{/each}}
  </ul>
  {{/list-filter}}
  
  <div class="question-container">

    {{#each model as |questionItem|}}
      {{question-list question=questionItem}}
    {{/each}}

  </div>
</div>
